# Delphi IDE
__history/
__recovery/
*.local
*.identcache
*.cbk
*.dsk
*.tvsconfig

# Kompilierte Dateien
*.dcu
*.o
*.a
*.so
*.dylib
*.exe
*.dll

# Backup
*.~*
*.bak
*.tmp

# Sonstiges
ClaudeCodePatterns/token.local.txt
ClaudeCodePatterns/dev.local.txt
cgi-config/config.ini
.DS_Store
.vscode/
.idea/
*.rsm
harr*.bat